@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.logo {
  font-family: $logo-font;
  a {
    text-decoration: none;
    color: $dark;
  }
  h1 {
    margin: 0;
    cursor: pointer;
  }
}
@include media(md) {
  .logo {
    font-size: 1.5rem;
  }
}
