@import '../../../styles/mixins.scss';
@import '../../../styles/settings.scss';

// .fixed{
//   position: fixed;
//   left: 0;
//   top: 0;
//   z-index: 99;
//   width: 100%;
//   background-color: white;

.container {
  position: relative;
  .icons {
    position: absolute;
    display: flex;
    list-style: none;
    align-items: center;
    top: 0;
    right: 0;
    font-size: 20px;
    height: 100%;

    li {
      border: none;
      padding: 15px;
    }
  }
  .navbar {
    display: none;
  }
  .test2 {
    display: none;
  }
}
// }
@include media(md) {
  .container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: white;
    .icons {
      display: none;
    }
    .navbar {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
    .test2 {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 90%;
      margin-right: 150px;
    }
    .test {
      display: flex;
      align-items: center;
      margin-right: 20px;

      .cart {
        font-size: 15px;
        padding: 16px 10px;
        cursor: pointer;

        &:hover,
        &.active,
        &:active {
          border-bottom: 2px solid $grey;
        }
        & svg:hover,
        & svg:active,
        & svg.active {
          color: $pink;
        }
      }
    }
  }
}
