@import '../../../styles/mixins.scss';

.sideDrawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  max-width: 70%;
  height: 100%;
  z-index: 200;
  background-color: white;
  padding: 2em 1em;
  transition: transform 0.3s ease-out;
}
.open {
  transform: translateX(0);
}
.close {
  transform: translateX(-100%);
}
@include media(md) {
  .sideDrawer {
    display: none;
  }
}
