@import 'settings.scss';
@import 'mixins.scss';

html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $main-font;
}

h2 {
  font-family: $secondary-font;
  text-align: center;
  display: block;
  color: $dark;
  font-size: 2.8em;
  padding: 0.8em 0;
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  &::before {
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background: $dark;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
    opacity: 0.7;
  }
  &::after {
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background: $dark;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
    opacity: 0.7;

  }
}