
@import '../../../styles/settings.scss';

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    label {
        padding: 5px;
    }
    .input {
        border-radius: 5px;
        border: 1px solid $grey;
        padding: 10px;
        margin: 5px 0;

        &:focus {
            outline: 2px solid $pink;
            outline-offset: -1px;
            border-radius: 0px;

        }
    }
    .button {
        button {
            width: 100%;
            border-radius: 5px;
            margin: 0 auto;
        }
    } 
    

}

