@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.footer {
  display: flex;
  flex-direction: column;
  .footerMenu {
    background-color: #ffeff2;
    .footerLeft {
      flex: 0 100%;
      display: flex;
      justify-content: space-around;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 0 1em 0;
        padding: 0;
        list-style: none;
        li {
          a {
            font-size: 0.9rem;
            color: $dark;
            padding: 0;
            &:hover {
              color: $dark;
            }
          }
        }
      }
    }
    .footerMiddle {
      flex: 0 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 0.9rem;
      padding: 1em 0;
      .contactInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        .localization,
        .phoneNumber,
        .email {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0.5em;
          .icon {
            background-color: $grey-darker;
            border-radius: 50%;
            svg {
              color: #fff;
              font-size: 2rem;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              text-align: center;
              line-height: 42px;
              margin: 0.4em;
              vertical-align: middle;
            }
          }
          p {
            display: inline-block;
            margin: 0;
            padding: 0.5em;
            vertical-align: middle;
            font-weight: 400;
            span {
              display: block;
              font-weight: normal;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
    .footerRight {
      flex: 0 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      padding: 0 1.5em;
      .aboutCompany {
        line-height: 20px;
        color: $grey-darker;
        font-size: 0.9rem;
        font-weight: normal;
        margin: 0;
        span {
          display: block;
          color: $grey-darker;
          font-size: 0.9rem;
          font-weight: bold;
          margin-bottom: 1.5em;
          text-transform: uppercase;
        }
      }
      .copyright {
        margin-top: 1em;
        p {
          margin: 0;
          color: $grey-darker;
          font-size: 0.8rem;
        }
      }
      .socialMedia {
        margin-top: 0.3em;
        display: flex;
        justify-content: space-around;
        ul {
          margin: 0;
          list-style: none;
          li {
            display: inline-block;
            padding-right: 1em;
            a {
              color: $pink;
              text-decoration: none;
              &:hover {
                color: $pink-lighter;
              }
            }
          }
        }
      }
    }
  }
}

@include media(md) {
  .footer {
    .footerMenu {
      display: flex;
      .footerLeft {
        flex: 0 33%;
        justify-content: space-around;
        padding: 1em;
      }
      .footerMiddle {
        flex: 0 33%;
      }
      .footerRight {
        flex: 0 33%;
        .aboutCompany {
          width: 70%;
        }
        .copyright {
          width: 70%;
        }
        .socialMedia {
          width: 70%;
        }
      }
    }
  }
}
